.node_wrap {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 auto;
  user-select: none;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  background-color: #fff;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  box-shadow: 4px 4px 10px 0px #b2b0b0;
  &:hover {
    border-color: #869efc;
  }
}
.node_title_wrap {
  line-height: 36px;
  border-bottom: 1px solid #d4d4d4;
  padding: 0 10px;
  color: #999;
}
.node_description {
  line-height: 18px;
  padding: 3px 10px;
  color: #d4d4d4;
}
.selected {
  border-color: #2751fe !important;
}
.disabled {
  opacity: 0.6;
}
