.node_wrap {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin: 0 auto;
  user-select: none;
  border-radius: 6px;
  background-color: #fff;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  box-shadow: 4px 4px 10px 0px #b2b0b0;
  &:not(.disabled):hover {
    border-color: #869efc;
  }
}

.selected {
  border-color: #2751fe !important;
}
.disabled {
  opacity: 0.6;
}
