.valueWrap {
  position: absolute;
  background: #d8d6d6;
  height: 24px;
  top: 4px;
  left: 6px;
  z-index: 99;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 0 3px;
  span {
    font-size: 12px;
  }
  i {
    cursor: pointer;
  }
}
