.wrap {
  width: 240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.add_icon {
  color: #115afe;
  font-size: 28px;
  cursor: pointer;
  transition: transform 0.1s;
  &:hover {
    transform: scale(1.2);
  }
}
.arrow {
  color: #8d8b8b;
}
.add_wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add_enter {
  width: 100%;
  height: 85px;
  background-color: #115afe;
  border-radius: 6px;
  border: 1px dashed #d4d4d4;
  background-color: #fff;
  opacity: 0.8;
  // animation: mymove 2s infinite;
}
@keyframes mymove {
  0% {
    width: 100%;
    height: 83px;
  }
  50% {
    width: 150%;
    height: 133px;
  }
  100% {
    width: 100%;
    height: 83px;
  }
}
