.wrap {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  background: #e2e2e2
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAABGdBTUEAALGPC/xhBQAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAAKKADAAQAAAABAAAAKAAAAABZLkSWAAAAR0lEQVRYCe3QQQ0AIAwAsYF/BXtjAIUQHvMwkp6CSyNEgAABAgQIECBAgAABAgQIECBAgAABAgQI/Ckwum7n2ue9za6D9XUBBeUC8oQjgoIAAAAASUVORK5CYII=);
}
.content {
  position: relative;
  padding: 20px;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  display: inline-flex;
  flex-direction: column;
}
.area {
  left: 10px;
  top: 10px;
  right: 10px;
  bottom: 10px;
  z-index: 9999;
  position: absolute;
  border-radius: 3px;
  border: 2px dashed rgba(0, 112, 210, 0.8);
  background-color: rgba(0, 112, 210, 0.15);
}
