.wrap {
  flex: 1;
  flex-direction: column;
  display: flex;
  padding: 20px;
  background: #e2e2e2;
  height: 100%;
  overflow: auto;
}
.content {
  position: relative;
}
// .pos {
//   left: 10px;
//   top: 10px;
//   right: 10px;
//   bottom: 10px;
//   z-index: 9999;
//   position: absolute;
//   // background-color: rgba($color: #4af88d, $alpha: 0.4);
//   border: 1px dashed rgb(22, 250, 110);
// }
