.overlay {
  width: 480px;
  padding: 16px;
  color: #333;
  border-radius: 6px;
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 10px 0px #b2b0b0;
  box-shadow: 4px 4px 10px 0px #b2b0b0;
  &:after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #fff;
    transform: rotateZ(45deg);
    top: -7px;
    left: calc(50% - 8px);
  }
}
.isTop {
  &:after {
    top: auto;
    bottom: -9px;
  }
}
.itemWrap {
  height: calc(100% - 30px);
  overflow-y: auto;
  margin-top: 10px;
  max-height: 224px;
}
.item {
  display: flex;
  align-items: center;
  cursor: pointer;
  line-height: 28px;
  padding: 0 10px;
  div {
    width: 18px;
    height: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(220, 95, 95, 0.6);
    border: 1px solid;
    border-color: rgb(220, 95, 95);
    color: rgb(255, 255, 255);
    border-radius: 3px;
    margin-right: 5px;
  }
  p {
    color: #000;
    font-weight: 600;
    margin-right: 14px;
    max-width: 160px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
  }
  span {
    transition: color 0.1s;
    opacity: 0.8;
    color: #bababf;
    flex-grow: 1;
    max-width: 343px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
  }
  &:hover {
    background-color: #eef3f9;
    border-radius: 3px;
    span {
      color: #59575c;
    }
  }
}
.empty {
  padding: 20px 0 0;
  display: flex;
  justify-content: center;
}
